// pico
@import 'vendor/pico/pico.scss';

// variables
$gullGray: #a2afb9;

// text
.text-normal {
  font-style: normal;
}

// label
.label {
  display: block;
  margin-bottom: calc(var(--spacing) * 0.25);
  font-weight: var(--form-label-font-weight, var(--font-weight));
}

// editable textarea
textarea,
.textarea {
  &::-webkit-scrollbar {
    // margin-right: 10px;
    width: 7px;
  }
  &::-webkit-scrollbar-thumb:vertical {
    margin: 5px;
    background-color: var(--form-element-border-color);
    border: 1px solid var(--background-color);
    -webkit-border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb:vertical:hover {
    background-color: var(--form-element-active-border-color);
  }
  &::-webkit-scrollbar-button:start:decrement,
  &::-webkit-scrollbar-button:end:increment {
    height: 5px;
    display: block;
  }
  resize: none;
}
.textinput,
.textarea {
  --background-color: var(--form-element-background-color);
  --border-color: var(--form-element-border-color);
  --color: var(--form-element-color);
  --box-shadow: none;
  margin-top: calc(var(--spacing) * 0.25);
  margin-bottom: var(--spacing);
  padding: var(--form-element-spacing-vertical)
    var(--form-element-spacing-horizontal);
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  outline: none;
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
  appearance: none;
  transition: background-color var(--transition), border-color var(--transition),
    color var(--transition), box-shadow var(--transition),
    -webkit-box-shadow var(--transition);
  font-size: 1rem;
  line-height: calc(var(--line-height) - 0.12);
  font-family: inherit;
  font-weight: var(--font-weight);
  color: var(--color);
  letter-spacing: inherit;
  overflow-y: auto;
  span {
    display: block;
    width: 100%;
    border-top: 1px solid var(--background-color);
    border-bottom: 1px solid var(--background-color);
    border-radius: 3px;
  }
}
.textinput {
  height: calc(
    (1rem * var(--line-height)) + (var(--form-element-spacing-vertical) * 2) +
      (var(--border-width) * 2)
  );
  overflow-y: visible;
}

.inactive {
  display: none;
}
// single namer
// .single-namer {
//   &.inactive {
//     display: none;
//   }
// }

// batch namer
// .batch-namer {
// display: none;
// &.active {
//   display: grid;
//   }
// }

// .btn-batch {
//   &.inactive {
//     display: none;
//   }
// }
// .btn-single {
//   &.inactive {
//     display: none;
//   }
// }
